langchain
langchain-community >= 0.3.4
langchain-core==0.2.43
langchain-chroma ==0.1.4
python-dotenv==1.0.1
streamlit==1.37.1
sentence-transformers == 3.2.1
chromadb == 0.5.18
pysqlite3-binary
faiss-cpu
pypdf